* {
    box-sizing: border-box;
    font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

h1 {
    font-size: 52px;
    letter-spacing: -1.75px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}

p {
    font-size: 1rem;
    font-style: normal;
    /* font-weight: 500; */
    line-height: 36px;
}

/* span {
    font-size: 1rem;
    line-height: 1.5rem;
} */

img {
    width: 100%;
}

.titles {
    /* border:1px solid red; */
    font-size: 24px;
    letter-spacing: -0.33px;
    line-height: 32px;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
    height: 70px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    margin-bottom: 24px;
    padding-top: 90px;
}

#mega-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 40px;
    max-width: 1075px;
}

#asset-container {
    box-sizing: border-box;
    width: 70%;
    padding-left: 1rem;
    padding-right: 2rem;
}

#chart {
    box-sizing: border-box;
    min-height: 350px;
    /* background-color: lightgreen; */
}

#company-description {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 25px;
    width: 90%;
}

.about, .key-statistics {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.key-statistics div, .about div {
    width: 25%;
}

.key-statistics p, .about p {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
}

.key-statistics span, .about span {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding-right: 1.5rem;
}

#news-container {
    display: flex;
    flex-flow: column;
}

.news-div {
    height: 134px;
}

#news-container span {
    letter-spacing: -0.1px;
    line-height: 20px;
}

.news-headline {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin: 4px 0
}

.news-link {
    color: rgb(106, 114, 120);
    font-size: 13px;
}

#right-panel {
    min-width: 200px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.stockstuff {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.stockstuffcomp {
    text-align: center;
}



/* div {
    border: 1px solid lightgray;
} */
