* {
  box-sizing: border-box;
  font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

.graphContainer {
  height: 100%;
  width: 100%;
}

.stockstuff2 {
  display: flex;
  /* background-color: red; */
  flex-flow: row nowrap;
  justify-content: space-between;
  /* font-size: 15px; */
}
#stock-price-spacer{
/* background-color: purple; */
display: flex;
flex-direction: row nowrap;
justify-content: flex-end;
}

#stock_price,
#stock_percent{
  padding-left:1rem;
  font-size: 13px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
/* #stock_name{
  background-color: blue;
} */

.graphContainer {
  /* background-color: red; */
  /* padding: 50px; */
  width: 100%;
}

/* .graph {
  display: flex;
  flex-direction: center;
  max-width: 40%;
  height: 40%;
} */

.graphButtons {
  /* background-color: blue; */
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  border-bottom: 1px solid lightgray;
}

.graphButton {
  width: 30px;
  height: 100%;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  outline: 0;
  border: 0;
  border-bottom: 2px transparent white;
  background-color: white;
  margin-right: 20px;
}

.graphButton:hover {
  border-bottom: 2px solid rgb(0, 200, 5);
}

.ticker-container-outer {
  max-width: 60%;
  left: 0;
  right: 0;
  margin: auto;
  padding-right: 300px;
}

.ticker-container-inner {
  width: 250px;
  left: 0;
  right: 0;
  margin: auto;
}

/* .button-selected{
  background-color: black;
  color: white;
} */

/* .graphButton1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: left;
  width: 20%;
  margin: 4px;
  padding: 4px;
  border: 1px solid #b4bdc2;
  border-radius: 4px;
} */

/* .graphButton2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: left;
  width: 20%;
  margin: 4px;
  padding: 4px;
  border: 1px solid #b4bdc2;
  border-radius: 4px;
}
.graphButton3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: left;
  margin: 4px;
  width: 20%;
  padding: 4px;
  border: 1px solid #b4bdc2;
  border-radius: 4px;
}
.graphButton4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: left;
  width: 20%;
  margin: 4px;
  padding: 4px;
  border: 1px solid #b4bdc2;
  border-radius: 4px;
} */

/*
.daily_prices {
  background: #ffff;
  border-radius: 3px;
}
.weekly_prices {
  background: #ffff;
  border-radius: 3px;
}
.one_month_prices {
  background: #ffff;
  border-radius: 3px;
}
.yearly_prices {
  background: #ffff;
  border-radius: 3px;
}
.all_time_prices {
  display: flex;
  flex-direction: row;
  background: #ffff;
  border-radius: 3px;
} */
