* {
  box-sizing: border-box;
  font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

Link {
  text-decoration: none;
  font-size: inherit;
}

.add-to-watchlist-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 90vh;
  padding: 0 15px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px -12px 24px 0px, rgba(0, 0, 0, 0.06) 0px 12px 24px 0px, rgba(0, 0, 0, 0.02) 0px -12px 24px, rgba(0, 0, 0, 0.02) 0px 12px 24px;
  border-radius: 4px;
  border: 1px solid rgb(227, 233, 237);
}

#watchlist-title {
  /* border:1px solid red; */
  font-size: 15px;
  font-weight: 700;
  padding: 0 24px;
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(227, 233, 237);
  margin-bottom: 1rem;
}

.watchlist-components {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 13px;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 2px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  margin-bottom: 1rem;
}

.watchlist-components:hover {
  box-shadow: 24px grey;
}

.link-look {
  font-size: inherit;
  text-decoration: none;
  color: black;
}

.current-price {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  font-weight: lighter;
  font-size: inherit;
}

.ticker-name {
  display: flex;
  width: 20%;
  font-size: inherit;
  justify-content: flex-start;
  font-weight: bold;
}

.stock-logo {
  height: 36px;
  width: 36px;
  background-size: cover;
  border-radius: 2px;
}

.delete-button {
  height: 25px;
  width: 25px;
  color: black;
  border: 1px solid #b4bdc2;
  background: #ffff;
  border-radius: 15px;
  justify-content: right;
  text-align: center;
}

.delete-button:hover {
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 1px #b4bdc2;
  cursor: pointer;
  color: red;
  border: 1px solid #b4bdc2;
  font-weight: bold;
}

/* .watchlist-components {
  height: 789px;
  width: 276px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: justify;
} */

/* box-sizing: border-box;
  direction: ltr;
  height: 789px;
  position: relative;
  width: 276px;
  will-change: transform;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
} */

/*
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif; */

/*
  box-sizing: border-box;
  direction: ltr;
  height: 788px;
  position: relative;
  width: 276px;
  will-change: transform;
  overflow: hidden; */

/* div {
  border: 1px solid blueviolet;
} */
